.container{
    align-items: center;
}

.header{
    color: #353535;
    font-size: 20;
}

.content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 3rem;
    margin: 3rem;
}