.Wrapper {
    display: flex;
    align-items: center;
    height: 50px;
    background: #5140e9;
    padding: 0 20px;
    border-radius: 100px;
}
.Content {
    position: relative;
    width: 100%;
    height: 55px;
    background: var(--medGrey);
    margin: 0 auto;
    border-radius: 40px;
    color: #ffffff;
}

.searchImg {
    position: absolute;
    left: 15px;
    top: 14px;
    width: 30px;
}

.inputSection {
    font-size: 28px;
    position: absolute;
    left: 0;
    margin: 8px 0;
    padding: 0 0 0 60px;
    border: 0;
    width: 95%;
    background: transparent;
    height: 40px;
    color: #ffffff;
}